<div class="col-lg-6"[@slideRight]>
    <h2>Bordered Table</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Visits</th>
                    <th>% New Visits</th>
                    <th>Revenue</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of borderedtables">
                <tr >
                    <td>{{data.page}}</td>
                    <td>{{data.visits}}</td>
                    <td>{{data.newVisits}}</td>
                    <td>{{data.revenue}}</td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
