
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a [routerLink]="['dashboardModule']"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>

            <li>
                <a [routerLink]="['tablesModule']"><i class="fa fa-fw fa-table"></i>TablesModule</a>
            </li>
            <li>
                <a [routerLink]="['gridModule']"><i class="fa fa-fw fa-table"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a [routerLink]="['anotherModule']"><i class="fa fa-fw fa-table"></i> Another Module</a>
            </li>
            <!-- <li>
                <a [routerLink]="['charts']"><i class="fa fa-fw fa-table"></i> Charts Component </a>
            </li> -->
        </ul>
    </div>
