
<div class="container">
  <h5 *ngIf="kartItems?.length <= 0">Your Kart is Empty.</h5>
<div class="row" *ngIf="kartItems?.length > 0">
	<!--Items-->
    <div class="col-md-9">

      <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let kartItem of kartItems">
          <div class="thumbnail">
            <img [src]="kartItem.img" alt="">
            <div class="caption">
              <h4 class="pull-right">{{kartItem.price}}</h4>
              <h4><a href="#">{{kartItem.name}}</a>
              </h4>
              <p>{{kartItem.Description}}</p>
            </div>
            <div class="ratings">
              <button type="button" class="btn btn-success" (click)="removeFromKart(kartItem)">Remove</button>
            </div>
          </div>
        </div>

      </div>

    </div>
	<div class="ratings">
        <button type="button" class="btn btn-success" (click)="byKartItems()">By Now</button>
  </div>
</div>
</div>