<div [@slideLeft]>

      <app-tableheader></app-tableheader>


        <div class="row">
          <app-borderedtable></app-borderedtable>
          <app-striptable></app-striptable>

        </div>
        <!-- /.row -->

        <div class="row">
            <app-basictable></app-basictable>
            <app-striped2table></app-striped2table>

        </div>
        <!-- /.row -->

        <div class="row">
          <app-contextualtable></app-contextualtable>

            <app-bootstrapdocs></app-bootstrapdocs>
        </div>
        <!-- /.row -->
</div>
